@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #828fa3 #828fa300;
  scrollbar-width: thin;
}

/* For WebKit based browsers */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  scrollbar-color: #828fa3;
  background-color: #828fa300;
}

/* For Internet Explorer */
/* The following properties only work in IE 10+ */
*::-ms-scrollbar {
  width: 10px;
  height: 10px;
}

*::-ms-scrollbar-thumb {
  background-color: #828fa3;
}

label {
  font-size: 12px;
  font-weight: 600;
}
